a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body {
  display: block;
  background-color: #7a0e28;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Manrope, sans-serif;
  color: #ff5b4c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.heading-2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Manrope, sans-serif;
  color: #ffece6;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
}

.main-content {
  margin-top: 88px;
  margin-bottom: 80px;
}

.text-span {
  color: #ff5b4c;
  text-decoration: none;
}

.text-span:hover {
  text-decoration: underline;
}

.text-span:active {
  color: #b72631;
}

.text-span:focus {
  text-decoration: none;
}

.bold-text {
  color: #ff5b4c;
}

.text-span-2 {
  color: #ff5b4c;
}

.social-network {
  margin-top: 0px;
  margin-bottom: 80px;
  padding-top: 0px;
  line-height: 24px;
}

.email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  color: #ff978b;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.email:hover {
  color: #ff5b4c;
  text-decoration: underline;
}

.email:active {
  color: #b72631;
}

.social-link {
  display: inline;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Manrope, sans-serif;
  color: #ffece6;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.social-link:hover {
  color: #ff5b4c;
  text-decoration: underline;
}

.social-link:active {
  color: #b72631;
}

.social-link:focus {
  padding-left: 8px;
  background-color: #ffece6;
  color: #ff5b4c;
  text-decoration: none;
}

.container-2 {
  margin-bottom: 48px;
}

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.plus {
  padding-right: 8px;
  padding-left: 8px;
  font-family: Manrope, sans-serif;
  color: #ff5b4c;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.link {
  -o-object-fit: fill;
  object-fit: fill;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #ff5b4c;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  color: #ffece6;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-span-3 {
  color: #ff5b4c;
}

.text-span-4 {
  color: #ff5b4c;
}

@media screen and (max-width: 767px) {
  .heading-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .social-link {
    display: block;
  }
  .social-networks {
    display: block;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
  }
  .plus {
    display: inline;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    font-size: 32px;
    line-height: 48px;
  }
  .social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social-networks {
    display: block;
    text-align: center;
  }
}

